/* Reset básico e definição da fonte de luxo */
body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Nossa paleta de cores "luxuosa" */
  background-color: #ffffff; /* Fundo branco */
  color: #222222; /* Texto preto/cinza escuro */
}

/* Remove a formatação padrão de links */
a {
  text-decoration: none;
  color: inherit; /* Herda a cor do texto */
}

/* Define o tamanho das fontes de título */
h1, h2, h3 {
  font-weight: 700; /* Negrito */
}

/* Remove a formatação padrão de listas */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

